*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cabecalho {
    background-color: #00487c !important; 
}

#titulo-cabecalho {
    color: white;
    font-weight: bold;
}

#upload-imagem {
    /* Estilize sua div como desejar */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    width: 600px; 
    margin: 0 auto; /* Centraliza a div na página */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Move o botão para a parte inferior */
    height: 500px; 
}

.botao {
    width: 100%; /* Ajusta a largura do botão para 100% do contêiner pai */
    padding: 10px;
    background-color: #00487c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px; /* Espaçamento entre o conteúdo da div e o botão */
}

.botao:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

#resetButtonId {
    background-color: red;
}
main {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Define a altura do main para preencher a viewport */
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

#picture__input {
    display: none;
}


@media (max-width: 1200px) {
    #upload-imagem {
        width: 60vw;
        height: 50vw;
    }
}

/* @media (max-width: 1050px) {
    #upload-imagem {
        width: 0vw;
        height: 60vw;
    }
} */

@media (max-width: 1050px) {
    #upload-imagem {
        width: 70vw;
        height: 60vw;
    }
}

@media (max-width: 850px) {
    #upload-imagem {
        width: 80vw;
        height: 70vw;
    }
}

@media (max-width: 750px) {
    #upload-imagem {
        width: 90vw;
        height: 80vw;
    }
}

