@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


#main {
    display: flex;
    flex-direction: row;
    /* gap: 0px;  */
    justify-content: center; 
    /* align-items: center;  */
    height: 100vh; 
    /* margin: 0 20px; */
}

#logo {
    width:200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#lado-esquerdo{
    background-color: #00487c;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;

}

#lado-direito {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#subtitulo {
    margin-top: 30px;
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}

#titulo {
    font-size: 60px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}

/* #formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#campos-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-align: right;
    display: block;
    margin-bottom: 20px;
}


.button-container-entrar{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.button-container-google{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.campo{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.botao {
    padding: 3px 30px;
    border-radius: 3px;
    
}

input{
    border: none;
}

input:focus {
    outline: none;
}

#botao-google {
    background-color: red;  
}

#botao-google:hover {
    background-color: rgba(255, 0, 0, 0.877);  
}

/* ////////////// */

.forgot-password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00487c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.back-to-login {
    margin-top: 10px;
}

.back-to-login a {
    color: #007bff;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}

@media (max-width: 690px) {
    #main {
        flex-direction: column;   
    }
    #lado-esquerdo{
        width: 100vw;
        order: 2;
    }

    #lado-direito {
        width: 100vw;
        order: 1;
    }

    #logo {
        width: 100px;
        height: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

}
