*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
}

#cabecalho {
    background-color: #00487c !important;
    margin-bottom: 50px; 
}

#mensagem{
    text-align: center;
}
#titulo-cabecalho {
    color: white;
    font-weight: bold;
}

#upload-imagem {
    background-image: url('m4.jpg'); /* Caminho para a imagem */
    background-size: contain; /* Ajusta a imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem na div */
    background-repeat: no-repeat; /* Evita repetição da imagem */

    /* background-color: #f0f0f0; */
    padding: 20px;
    border: 1px solid #ccc;
    width: 600px; 
    margin: 0 auto; /* Centraliza a div na página */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Move o botão para a parte inferior */
    height: 500px; 
}

.botao {
    width: 100%; /* Ajusta a largura do botão para 100% do contêiner pai */
    padding: 10px;
    background-color: #00487c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px; /* Espaçamento entre o conteúdo da div e o botão */
}

.botao:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

#botaoVoltar{
    background-color: red;
}

#botaoVoltar:hover{
    background-color:rgb(247, 22, 22)
}

main {
    display: flex;
    flex-direction: row;
    gap: 50px; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0 20px;
}  



#picture__input {
    display: none;
}

.botao-container {
    display: flex;
    gap: 10px;
}

@media (max-width: 1200px) {
    #upload-imagem {
        width: 60vw;
        height: 50vw;
    }
}

/* @media (max-width: 1050px) {
    #upload-imagem {
        width: 0vw;
        height: 60vw;
    }
} */

@media (max-width: 1050px) {
    #upload-imagem {
        width: 70vw;
        height: 60vw;
    }
}

@media (max-width: 950px) {
    #upload-imagem {
        width: 60vw;
        height: 50vw;
    }
}

@media (max-width: 650px) {
    #upload-imagem {
        width: 50vw;
        height: 40vw;
    }
}

@media (max-width: 575px) {
    #upload-imagem {
        width: 60vw;
        height: 50vw;
    }

    main {
        flex-direction: column;
        justify-content:right;
        align-items:normal;
    }  

}

