#cabecalho {
    background-color: #00487c !important; 
}

#titulo-cabecalho {
    color: white;
    font-weight: bold;
}

#upload-imagem {
    /* Estilize sua div como desejar */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px; /* Ajuste conforme necessário */
    margin: 0 auto; /* Centraliza a div na página */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Move o botão para a parte inferior */
    height: 200px; /* Altura fixa para a demonstração */
}

#upload-btn {
    width: 100%; /* Ajusta a largura do botão para 100% do contêiner pai */
    padding: 10px;
    background-color: #00487c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px; /* Espaçamento entre o conteúdo da div e o botão */
}

#upload-btn:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

main {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Define a altura do main para preencher a viewport */
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

#picture__input {
    display: none;
}
